@CHARSET "ISO-8859-1";


/* Body and Global Reset
----------------------------------------------- */
body {
	margin: 0;	
	background: #FBFCF2;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* Account
----------------------------------------------- */
#account { background: #fff; }
#account .inner {
	position: relative;
	margin: 0 auto;
	padding: 8px 0 8px 0;
	width: 752px;
}
#account p {
	margin: 0 0 0 1px;
	font-size: .6em;
	color: #444;
}
#account #login {
	position: absolute;
	top: 25px;
	right: 0;
	height: 23px;
	z-index: 100;
	padding: 0 19px 0 0;
	background: url(../images/login_right.png) no-repeat 100% 0;
}
#account #login p {
	margin: 0;
	padding: 0 1px 0 19px;
	height: 23px;
	float: right;
	width: auto;
	background: url(../images/login_left.png) no-repeat 0 0;
}
#account #login p span { color: #aaa; }

#account #forget {
	position: absolute;
	right: 0;
	top: 48px;
	height: 23px;
	z-index: 100;
	font-size: .6em;
	padding: 0 19px 0 0;
}

/* Main Wrappers
----------------------------------------------- */
#wrapper {
	border-top: solid 1px #D2D6B8;
	background: #FBFCF2 url(../images/wrapper.png) repeat-x 0 0;
	height: 1200px;
}
#wrapper .inner {
	position: relative;
	margin: 0 auto;
	padding: 50px 0 0 0;
	*padding: 50px 0 0 0;
	_padding: 50px 0 0 0;
	width: 752px;
}

/* Heading
----------------------------------------------- */
#heading {
	margin: 0 0 25px 0;
	float: left;
	clear: both;
	width: 752px;
}

#heading h1 {
	float: left;
	_position: absolute;
	_left: 30px;
	_top: 30px;
	margin: 0 25px 0 1px;
	width: 250px;
	height: 38px;
	text-indent: -2000px;
	background: url(../images/logo-etisalat.gif) no-repeat;
}



/* Three up
----------------------------------------------- */
#wrapper .three_up {
	float: left;
	clear: both;
	margin: 0 0 25px 0;
	padding: 0 0 4px 0;
	width: 752px;
	background: url(../images/homepage/box_under.png) no-repeat 0 100%;
}
#wrapper .three_up h3 {
	margin: 0 0 8px 0;
	font-size: .9em;
	font-weight: normal;
	color: #00324D;
}
#wrapper .three_up .node {
	position: relative;
	float: left;
	width: 220px;
	padding: 15px;
	border-right: solid 1px #E4E5DC;
}
#wrapper .three_up.searches .node { height: 100px; }
#wrapper .three_up.about .node { height: 130px; }
#wrapper .three_up .node h3 {
	margin: 0 0 8px 0;
	font-size: .9em;
	font-weight: normal;
	color: #00324D;
}
#wrapper .three_up.searches .node h3 { color: #aaa; }
#wrapper .three_up .node h3 strong {
	font-weight: normal;
	color: #00324D;
}
#wrapper .three_up .node p {
	font-size: .7em;
	line-height: 1.4em;
	color: #434343;
}
#wrapper .three_up .node p.more {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

#wrapper .three_up.about .node p img.acs_papers {
	float: right;
	margin: -20px -40px 5px 5px;
}

#wrapper .three_up .node ul { margin: 0 0 0 15px; }
#wrapper .three_up .node li {
	margin: 0 0 3px 0;
	list-style: disc;
	font-size: .7em;
	line-height: 1.4em;
	color: #aaa;
}
#wrapper .three_up .node.first { background: url(../images/homepage/box_left_notrans.png) no-repeat 0 0; }
#wrapper .three_up .node.last {
	background: url(../images/homepage/box_right_notrans.png) no-repeat 100% 0;
	border-right: none;
}


/* Footer
----------------------------------------------- */
#wrapper #footer {
	width: 752px;
	float: left;
	clear: both;
	margin: 0;
	_position:relative;
	_top:800px;
	*position:relative;
	*top:650px;
	
	
}

#wrapper #footer p {
	float: left;
	width: 252px;
	padding: 2px 0 30px 0;
	text-align: center;
	font-size: .7em;
	color: #979893;
}
#wrapper #footer p a { color: #979893; }
#wrapper #footer p a:hover { color: #1a1a1a; }
#wrapper #footer p.left {
	padding: 2px 0 30px 1px;
	width: 249px;
	text-align: left;
}

#wrapper #footer p.right {
	padding: 0 1px 10px 0;
	width: 249px;
	text-align: right;
}

#wrapper #footer p.right a {
	text-align: right;
	height: 18px;
	width: 110px;
	padding: 2px 0 0 0;
	text-decoration: none;
	
}
#wrapper #footer p.right a:hover { background-position: 100% -24px; }
#wrapper #footer p.right a span { display: none; }

a {
	padding-bottom: 1px;
	color: #9BB010;
	text-decoration: none;
	border-bottom: dotted 1px #ccc;
}
a:hover {
	color: #111;
	border-bottom: solid 1px #ccc;
}

/* Dashboard Layout Positioning
----------------------------------------------- */
#wrapper #standard {
	width: 830px;
	_width: 800px;
	float: right;
	margin: 0 0 10px 0;
	background: url(../images/bk_Flipped_long_ie.jpg) no-repeat;
}

#wrapper #auth {
	width: 830px;
	_width: 800px;
	float: right;
	margin: 0 0 10px 0;
	height: 800px;
	background: url(../images/bkg.jpg) repeat-y;
}

#wrapper #standard.has_side { 
	height: 650px;
	_height:670px;
	*height:650px;
	width: 830px;
	background: url(../images/bk_Flipped.jpg) no-repeat;
}
	

#wrapper #standard.has_side #main {
	float: right;
	position: relative;
	width: 546px;
	margin: 20px 20px 0 0 ;
}
#wrapper #standard.has_side #side {
	float: right;
	margin: 20px 0 0 20px;
	padding: 20px;
	width: 200px;
	_width: 174px;
}
#wrapper #standard #gutter {
	clear: both;
	width: 830px;
}
#wrapper #standard #match {
	
}
/* a special one for long page
----------------------------------------------- */
#wrapper #standard.has_side_long { 
	height: 740px;
	*height: 780px;
	_height: 760px;
	width: 830px;
	*width:830px;
	_width: 800px;
	background: url(../images/bk_Flipped_long.jpg) no-repeat;
	*background: url(../images/bk_Flipped_long_ie.jpg) no-repeat;
	_background: url(../images/bk_Flipped_long_ie.jpg) no-repeat; 
}
#wrapper #standard.has_side_long #main {
	float: right;
	position: relative;
	width: 540px;
	margin: 20px 20px 0 0 ;
	_margin-right: 5px;
}
#wrapper #standard.has_side_long #side {
	float: right;
	margin: 30px 0 0 20px;
	position: relative;
	left: -30px;
	_left: -10px;
	_top: 5px;
	padding: 20px;
	_padding: 15px;
	*width: 200px;
	width: 174px;
}
/* Content: Main
----------------------------------------------- */
#wrapper #standard #main h1 { 
	margin: 0 0 20px 0; 
	font-weight: normal;
	font-size: 1.2em;
	color: #00324D;}

#wrapper #standard #main h3 {
	margin: 0 0 10px 0;
	font-weight: normal;
	font-size: .9em;
	color: #00324D;
}

#wrapper #standard #main p {
	margin: 0 0 20px 0;
	font-size: 15px;
	line-height: 2em;
	font-size: .8em;
	color: #28373F;
}
#wrapper #standard #main span.errorMessage{
	font-size: .7em;
	margin: 0 0 2px 0;
	padding: 2px 0 0 0;
	color: #ff0000;
}
#wrapper #standard #main ul li span.errorMessage{
	font-size: .7em;
	width: 400px;
	margin: 0 0 2px 0;
	padding: 2px 0 0 0;
	color: #ff0000;
}
/* Content: Main: Forms
----------------------------------------------- */

#wrapper #standard #main fieldset {
	float: left;
	clear: both;
	width: 514px;
	min-height: 150px;
	margin: 0 0 20px 0;
	border: solid 1px #9BC9DF;
	padding: 15px 15px 7px 15px;
	*margin: 0 0 15px 0;
	*padding-bottom: 0;
}

#wrapper #standard #main fieldset legend {
	margin: 0 0 0 -5px;
	padding: 0 5px 0 5px;
	color: #00324D;
	font-size: .7em;
	*margin: 0 0 12px -12px;
}
/*** field validator error ***/


#wrapper #standard #main fieldset p {
	font-size: .7em;
	line-height: 1.5em;
}

#wrapper #standard #main fieldset dl { width: 514px; }
#wrapper #standard #main fieldset dl dt {
	position: relative;
	float: left;
	clear: right;
	width: 150px;
	margin: 0 0 8px 0;
	padding: 0 15px 0 0;
	text-align: right;
	*clear: both;
	*float: none;
	*height: 30px;
	
}
#wrapper #standard #main fieldset dl dt.minor {
	position: relative;
	float: left;
	clear: right;
	width: 150px;
	*margin: 0 0 16px 0;
	padding: 0 15px 0 0;
	
	text-align: right;
	*clear: both;
	*float: none;
	height: 8px;
	
}
#wrapper #standard #main fieldset dl dt label {
	font-size: .7em;
	color: #28373F;
}
#wrapper #standard #main fieldset dl dd {
        float: right;
        clear: right;
        width: 349px;
        margin: 0 0 8px 0;
        padding: 2px 0 0 0;
        *clear: both;
        *margin-top: -38px;
}

#wrapper #standard dd.oneline {
	*clear: both;
	float: left;
	clear: both;
	margin: 0 0 -50px 0;
	padding: 15px 15px 7px 15px;
}
#wrapper #standard dd.oneline input.sbtn{
  	position: relative;
 	color:#050;
  	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
  	font-size: .7em;
  	width: 60px;
   	*clear: both;
	*margin-top: 35px;
	_margin-top: 20px;
}


#wrapper #standard #main fieldset.in dl dd {
	float: right;
	clear: right;
	width: 349px;
	margin: 0 0 8px 0;
	padding: 2px 30px 0 0;
	*clear: both;
	*margin-top: -38px;
}

#wrapper #standard #main fieldset dd {
	float: right;
	clear: right;
	width: 349px;
	margin: 0 0 8px 0;
	padding: 2px 30px 0 0;
	*clear: both;
	*margin-top: -38px;	
}

#wrapper #standard #main fieldset dl dd input { width: 250px; }
#wrapper #standard #main fieldset dl dd span.errorMessage { width: 400px; color: #ff0000; }
#wrapper #standard #main fieldset dl dd label {
	font-size: .7em;
	color: #28373F;
}

#wrapper #standard #main fieldset.in dd label {
	clear: right;
	font-size: .7em;
	color: #28373F;
	padding: 0 20px 0 10px;
	float: left;
}

#wrapper #standard #main fieldset dl dd label input {
	margin: 0 0 0 15px;
	padding: 0 20px 0 0;
	width: auto;
	*height:25px;
	*clear:both;
	*padding-top: 25px;
	*margin-top: 30px;
	
}

#wrapper #standard #main fieldset.in dd label input {
	margin: 0 0 0 15px;
	padding: 0 20px 0 0;
	width: auto;
	*margin-top: -38px;
	*height:50px;
	*clear: both;
}
#wrapper #standard #main fieldset dl dd .auto { width: auto; }

#wrapper #standard #main fieldset dl dt.error label { color: #AF3816; }
#wrapper #standard #main fieldset dl dd.error input { background-color: #F8E4DF; }


/* Content: Main: Alerts
----------------------------------------------- */
#wrapper #standard #main .alert { margin: 0 0 20px 0; }
#wrapper #standard #main .alert .inner {
	width: 490px;
	padding: 16px 15px 2px 41px;
	background: url(../images/signup/alert_top.png) no-repeat;
}
#wrapper #standard #main .alert .bottom {
	height: 15px;
	background: url(../images/signup/alert_bottom.png) no-repeat 0 100%;
}
#wrapper #standard #main .alert p {
	margin: 0;
	padding: 0;
	font-size: .8em;
	line-height: 1em;
	color: #AF3816;
}
#wrapper #standard #main .alert li {
	margin: 0 0 0 30px;
	list-style: disc;
	font-size: .8em;
	line-height: 1.2em;
	color: #AF3816;	
}

/* Content: Side
----------------------------------------------- */
#wrapper #standard #side h3 {
	margin: 0 0 6px 0;
	font-weight: normal;
	font-size: .8em;
	color: #00324D;
}
#wrapper #standard #side p {
	font-size: .7em;
	line-height: 1.5em;
	color: #28373F;
}
#wrapper #standard #side #sub {
	margin-left: 8px;
}
#wrapper #standard #side #level1 {
	margin-left: 10px;
}
#wrapper #standard #side ul {
	font-size: .7em;
	line-height: 1.5em;
	color: #28373F;
}

#wrapper #login_layout h1 {
	margin: 0 0 15px 0;
	font-weight: normal;
	font-size: 1.1em;
	color: #00324D;
}

#wrapper #login_layout p {
	margin: 0 0 15px 0;
	_position: absolute;
	_top:80px;
	_left:5px;
	*position: absolute;
	*top:100px;
	*left:5px;
	*margin_bottom: 30px;
	font-weight: normal;
	font-size: .8em;
	color: #00324D;
}

#wrapper #login_layout #columns {
	_position: absolute;
	_top: 100px;
	_left: 5px;
	*position: absolute;
	*top: 150px;
	*left: 5px;
	float: left;
	clear: both;
	margin: 0 0 25px 0;
	width: 830px;
	
}
#wrapper #login_layout #columns .login {
	position: relative;
	_left: 3px;
	_top: 0px;
	_width: 240px;
	float: left;
	margin: 0 5px 0 0;
	width: 310px;
	
	height:195px;
	*height:195px;
	_height:170px;
	background: url(../images/box_under.png) repeat-x;
}

#wrapper #login_layout #columns .login fieldset {
	margin: 0 0 15px 0;
	padding: 12px;
	border: solid 1px #e8e8e8;
	_height:165px;
	_width: 250px;
	*height:170px;
	*width: 285px;
	
}
#wrapper #login_layout #columns .login fieldset legend { display: none; }

#wrapper #login_layout #columns .login fieldset label {
	display: block;
	margin: 0 0 2px 0;
	font-size: .7em;
	color: #797979;
}
#wrapper #login_layout #columns .login fieldset label .required{
	display: block;
	margin: 0 0 2px 0;
	font-size: .7em;
	font-weight: bold;
	color: #797979;
}
#wrapper #login_layout #columns .login fieldset input {
	display: block;
	margin: 0 0 14px 0;
	width: 180px;
}
#wrapper #login_layout #columns .login fieldset p {
	font-size: .6em;
	color: #B3B3B3;
	_position: absolute;
	_left: 13px;
	_top: 112px;
	*position: absolute;
	*left: 13px;
	*top: 112px;
}

#wrapper #login_layout #columns .login fieldset p input{
	font-size: .6em;
	color: #B3B3B3;
	width: 84px;
}
#wrapper #login_layout #columns .login fieldset p#login_button {
	font-size: .6em;
	color: #B3B3B3;
	
}
#wrapper #login_layout #columns .login fieldset p#login_button input {
	display: inline;
	position: relative;
	top: -3px;
	vertical-align: middle;
	margin: 0 3px 0 0;
	height: 8px;
}
#wrapper #login_layout #columns .login fieldset p#login_button a {
	margin: 0 0 0 3px;
	color: #666;
	font-size: .6em;
}

#wrapper #login_layout #columns .signup_promo {
	_position: relative;
	_top:-198px;
	float: right;
	margin: 0 0 0 5px;
	width: 486px;
	padding: 12px;
	border-top: solid 1px #d9d9d9;
	background: url(../images/signup_shade.gif) repeat-x;
}

#wrapper #login_layout #columns .signup_promo h3 {
	margin: 0 0 8px 0;
	font-weight: normal;
	font-size: .9em;
	color: #00324D;
}
#wrapper #login_layout #columns .signup_promo p {
	margin: 0 0 8px 0;
	_position: absolute;
	_top:10px;
	_left:-10px;
	_width: 500px;
	*position: relative;
	*top:10px;
	*left:0px;
	*width: 500px;
	font-size: .7em;
	line-height: 1.3em;
	color: #444;
}

#wrapper #login_layout #columns .signup_promo ul { margin: 0 0 12px 25px; }
#wrapper #login_layout #columns .signup_promo ul li {
	margin: 0 0 3px 0;
	list-style: disc;
	font-size: .7em;
	color: #444;
}

#wrapper #login_layout #columns .signup_promo p img { border: none; }

#wrapper #login_layout #columns .signup_promo #newsletter_signup label {
	display: block;
	margin: 0 0 2px 0;
	font-size: .7em;
	color: #797979;
}
#wrapper #login_layout #columns .signup_promo #newsletter_signup input {
	display: block;
	margin: 0 0 14px 0;
	width: 220px;
}
#wrapper #login_layout #columns .signup_promo #newsletter_signup input.button { width: auto; }

#wrapper #login_layout .error_box {
	margin: 0 0 15px 0;
	padding: 12px 12px 8px 12px;
	background: #AF3816;
}
#wrapper #login_layout .error_box p {
	margin: 0 0 4px 0;
	font-size: .7em;
	color: #fff;
	font-weight: bold;
}
#wrapper #login_layout .error_box li {
	margin: 0 0 4px 30px;
	font-size: .7em;
	color: #fff;
}

#wrapper #login_layout .notice_box {
	margin: 0 0 15px 0;
	padding: 12px 12px 8px 12px;
	background: #C9D577;
}
#wrapper #login_layout .notice_box p {
	margin: 0 0 4px 0;
	font-size: .7em;
	color: #49501A;
	font-weight: bold;
}
#wrapper #login_layout .notice_box li {
	margin: 0 0 4px 30px;
	font-size: .7em;
	color: #49501A;
}
#wrapper #login_layout .notice_box li a { color: #49501A; }

/* Content: Main: Forms
----------------------------------------------- */
#wrapper #standard #main table fieldset {
	float: left;
	clear: both;
	width: 514px;
	margin: 0 0 20px 0;
	border: solid 1px #9BC9DF;
	padding: 15px 15px 7px 15px;
	*clear: both;
	*float: none;
	*height: 30px;
}
#wrapper #standard #main table fieldset legend {
	margin: 0 0 0 -5px;
	padding: 0 5px 0 5px;
	color: #00324D;
	font-size: .7em;
	*clear: both;
	*float: none;
	*height: 30px;
}

#wrapper #standard #main table fieldset p {
	font-size: .7em;
	line-height: 1.5em;
}

#wrapper #standard #main table fieldset dl td { width: 514px; }
#wrapper #standard #main table fieldset dl tr dt {
	position: relative;
	float: left;
	clear: right;
	width: 150px;
	margin: 0 0 8px 0;
	padding: 0 15px 0 0;
	text-align: right;
	
}

#wrapper #standard #main fieldset table tr td input{
	font-size: .7em;
	color: #28373F;
	*height: 30px;
	*padding: 12px 0 0 0;
	*margin: 10px 0 8px 0;
	*clear:both;

}
#wrapper #standard #main fieldset table.check{
	color: #28373F;
	*padding: 10px 0 0 0;
	*margin: 15px 0 0 0;
	*clear:both;
}



#wrapper #standard #main fieldset table input.btn{
	font-size: .7em;
	color: #28373F;
	*position: relative;
	*bottom: -5px;
	*padding: 0 0 0 0;
	*margin:0 8px 0 8px;
	*clear:both;
	*height: 20px;

}
#wrapper #standard #main fieldset table tr td label {
	font-size: 0.7em;
	color: #28373F;
	*position: relative;
	*bottom: -20px;
	*padding: 0 0 30px 0;
	*margin: 0 0 8px 0;
	*clear:both;
}


#wrapper #standard #main fieldset table tr td select.bttn {
	font-size: .7em;
	width: 105px;
	color: #28373F;
	*position: relative;
	*bottom: -10px;
	*height: 80px;
	*padding: 30px 0 30px 0;
	*margin: 30px 0 8px 0;
	*clear:both;
}
#wrapper #standard #main table fieldset dl dd {
	float: right;
	clear: right;
	width: 349px;
	margin: 0 0 8px 0;
	padding: 2px 0 0 0;
}
#wrapper #standard #main table fieldset dl dd input { width: 200px; }
#wrapper #standard #main table fieldset dl dd label {
	font-size: .7em;
	color: #28373F;
}

#wrapper #standard #main table fieldset dl tr td label .form{
	font-size: .7em;
	color: #28373F;
	*height: 30px;
	*padding: 20px 0 0 0;
}
#wrapper #standard #main table fieldset dl dd .form{
	float: right;
	clear: right;
	width: 349px;
	margin: 0 0 8px 0;
	padding: 2px 0 0 0;
}
#wrapper #standard #main table fieldset dl dd input .form{ width: 200px; }
#wrapper #standard #main table fieldset dl dd label .form{
	font-size: .7em;
	color: #28373F;
}
#wrapper #standard #main table fieldset dl dd label input {
	margin: 0 5px 0 0;
	width: auto;
}
#wrapper #standard #main table fieldset dl dd .auto { width: auto; }

#wrapper #standard #main fieldset dl dt.error label { color: #AF3816; }
#wrapper #standard #main fieldset dl dd.error input { background-color: #F8E4DF; }

/* Content: Main: s:optiontransferselect Forms
----------------------------------------------- */

#wrapper #standard.has_side #main fieldset .btn{
   position: relative;
   color:#050;
   font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
   font-size: .7em;
   width: 100px;
   	*clear: both;
	*margin-top: 20px;
   }
   
   #wrapper #standard.has_side #main fieldset .fbtn{
   position: relative;
   color:#050;
   font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
   font-size: .7em;
   width: 120px;
   	*clear: both;
	*margin-top: 35px;
   }
   
#wrapper #standard.has_side_long #main fieldset .menu{
   position: relative;
   color:#050;
   font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
   padding: 0 5px 5px 0;
   font-size: .7em;
   width: 100px;
   *clear: both;
	*margin-top: 15px;
	*float: none;

   }
   
   #wrapper #standard.has_side_long #main fieldset .btn{
   position: relative;
   color:#050;
   font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
   font-size: .7em;
   width: 100px;
   *clear: both;
	*margin-top: 45px;
	*float: none;
	
   }
   
    #wrapper #standard.has_side_long #main fieldset .fbtn{
   position: relative;
   color:#050;
   font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
   font-size: .7em;
   width: 100px;
   *clear: both;
	*margin-top: 35px;
	*float: none;
	
   }
#wrapper #standard.has_side #main .browse{
   position: relative;
   color:#050;
   font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
   font-size: .7em;
   width: 100px;
   }
#wrapper #standard #main fieldset .signup{ 
	width: 86px;
	hiehgt: 40px;
	background: url(../images/joinNowBtnB.gif) ;
}

#wrapper #standard #main fieldset dl dd label {
	font-size: .7em;
	color: #28373F;
}


#wrapper #standard #main table fieldset dl dd label input {
	margin: 0 5px 0 0;
	width: auto;
}
#wrapper #standard #main table fieldset dl dd .auto { width: auto; }

#wrapper #standard #main fieldset dl dt.error label { color: #AF3816; }
#wrapper #standard #main fieldset dl dd.error input { background-color: #F8E4DF; }

#wrapper .inner #ext {
	margin: -500px;
	*margin: -200px;
	_margin: -280px;
}
#wrapper .inner #long {
	margin: -50px;
	*margin: -500px;
	_margin: -50px;
	
}
